article {
  padding: 253px 24px 0;
}

.copy {
  position: relative;
  margin-bottom: 41px;

  &:nth-of-type(2) {
    margin-bottom: 97px;
  }

  .copy_header {
    margin-bottom: 47px;
  }
}

.ipad {
  position: absolute;
  top: -495px;
  left: 27px;
  width: 650px;
  height: 547px;
}

.iphone_wrapper {
  margin-top: 81px;
  width: 100%;
  height: 595px;
  position: relative;
}

.iphone {
  width: 451px;
  height: 595px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.copy_header {
  font-size: 36px;
  line-height: 48px;
}

.copy_number {
  color: #F2AE30;
  font-size: 36px;
  line-height: 48px;
}

.copy_paragraph {
  font-size: 18px;
  line-height: 36px;
}
