.copy_article {
  padding: 253px 24px 0;
  @media only screen and (min-width: 768px) {
    padding-top: 305px;
  }
  @media only screen and (min-width: 1280px) {
    max-width: 1440px;
    margin: auto;
    padding: 167px 96px;
  }
  @media only screen and (min-width: 1920px) {
    max-width: 1250px;
  }
}

.copy {
  position: relative;
  margin-bottom: 41px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 26px;
  }

  @media only screen and (min-width: 1280px) {
    display: flex;
  }

  &.copy_first {
    @media only screen and (min-width: 1280px) {
      .copy_header_wrapper {
        width: calc(50% - 12px);
      }
      .copy_paragraph {
        margin-top: 60px;
        margin-left: auto;
        width: calc(50% - 12px);
      }
    }
  }
  &:nth-of-type(2) {
    margin-bottom: 97px;
    @media only screen and (min-width: 1280px) {
      flex-direction: column;
      margin-top: 135px;
      margin-left: auto;
      margin-bottom: 170px;
      width: calc(50% - 12px);
      .copy_header {
        margin-bottom: 95px;
      }
    }
    @media only screen and (min-width: 1440px) {
      margin-top: 95px;
      margin-bottom: 130px;
    }
  }

  .copy_header {
    margin-bottom: 47px;
  }
}

.ipad {
  position: absolute;
  top: -495px;
  left: 27px;
  width: 650px;
  height: 547px;
  @media only screen and (min-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
    top: -543px;
  }
  @media only screen and (min-width: 1280px) {
    transform: none;
    left: 50%;
    top: 376px;
    margin-left: -783px;
    width: 676px;
    height: 573px;
  }

  @media only screen and (min-width: 1440px) {
    margin-left: -906px;
    width: 811px;
    height: 677px;
  }
  @media only screen and (min-width: 1920px) {
    margin-left: -945px;
  }
}

.iphone_wrapper {
  margin-top: 81px;
  width: 100%;
  height: 595px;
  position: relative;
  @media only screen and (min-width: 1280px) {
    width: 251px;
    height: 502px;
    position: absolute;
    top: 417px;
    left: 92px;
    margin-top: 0;
  }
  @media only screen and (min-width: 1440px) {
    width: 299px;
    height: 597px;
    left: 103px;
  }
  @media only screen and (min-width: 1920px) {
    left: 24px;
  }
}

.iphone {
  width: 451px;
  height: 595px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @media only screen and (min-width: 768px) {
    top: -20px;
  }
  @media only screen and (min-width: 1280px) {
    width: 100%;
    height: 100%;
  }
}

.copy_header, .copy_number {
  font-size: 36px;
  line-height: 48px;
  @media only screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 72px;
  }
}

.copy_number {
  color: #F2AE30;
}

.copy_paragraph {
  font-size: 18px;
  line-height: 36px;
  font-family: "OpenSauceSansLight", serif;
  @media only screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 40px;
  }
}

.last_coppy_desktop_wrapper {
  @media only screen and (min-width: 1280px) {
    display: flex;
  }
  .copy {
    @media only screen and (min-width: 1280px) {
      flex-direction: column;
      width: calc(50% - 12px);

      .copy_header {
        margin-bottom: 95px;
      }

    }
  }
}

