.family {
  position: relative;
  padding: 49px 24px 170px;
  @media only screen and (min-width: 768px) {
    padding-bottom: 214px;
  }
  @media only screen and (min-width: 1280px) {
    padding: 109px 96px 30px;
  }
  @media only screen and (min-width: 1440px) {
    padding-bottom: 70px;
    min-height: 100vh;
    box-sizing: border-box;
  }
  @media only screen and (min-width: 1920px) {
    display: flex;
  }

  img {
    position: absolute;
    top: 0;
    left: -24px;
    right: -24px;
    bottom: 0;
    height: 100%;
    z-index: -1;
    width: calc(100% + 48px);
    object-fit: cover;
  }
  h3 {
    font-size: 28px;
    font-style: normal;
    line-height: 48px;

    @media only screen and (min-width: 1280px) {
      font-size: 32px;
      line-height: 48px;
      width: calc(50% - 24px);
    }
  }
  p {
    font-size: 18px;
    font-family: "OpenSauceSansLight", serif;
    line-height: 36px;
    margin-top: 46px;

    @media only screen and (min-width: 1280px) {
      width: calc(50% - 12px);
      margin: 189px 0 0 calc(50% + 12px);
      font-size: 24px;
      line-height: 40px;
    }
    @media only screen and (min-width: 1440px) {
      margin-top: 30%;
    }
  }

  .arrow {
    margin-top: 49px;
    @media only screen and (min-width: 1280px) {
      margin-top: 0px;
      position: relative;
      top: -98px;
    }
    @media only screen and (min-width: 1440px) {
      top: -60px;
    }
  }
}

.family_wrapper {
  @media only screen and (min-width: 1280px) {
    max-width: 1440px;
    margin: auto;
  }
  @media only screen and (min-width: 1920px) {
    max-width: 1250px;
    height: calc(1080 - 300px);
    overflow: hidden;
  }
}
