.prefooter {
  font-size: 18px;
  line-height: 36px;
  background-color: #F4F4F4;
  border-radius: 30px;
  padding: 48px 45px;
  margin: 112px 24px 34px;
  text-align: center;
  transition: .6s ease;
  @media only screen and (min-width: 768px) {
    margin-top: 126px;
    margin-bottom: 48px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    margin: 0 48px;
    box-sizing: border-box;
    padding: 140px 85px;
    position: relative;

    p {
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: 1440px) {
    height: 50vh;
    margin-bottom: 48px;
  }

  p {
    font-family: "OpenSauceSansLight", serif;
  }
}

.prefooter_bg {
  @media only screen and (min-width: 1280px) {
    transition: .6s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
  }
}

.footer_bg_wrapper {
  @media only screen and (min-width: 1280px) {
    position: relative;
    footer {
      position: static;
    }
  }
}

footer {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  padding: 63px 24px 60px;

  @media only screen and (min-width: 1440px) {
    height: 50vh;
    box-sizing: border-box;
  }
  @media only screen and (min-width: 1920px) {
    display: flex;
  }

  h4 {
    font-size: 36px;
    line-height: 48px;
    @media only screen and (min-width: 1280px) {
      font-size: 64px;
      line-height: 72px;
    }
  }

  a {
    color: #000;
  }
}

.footer_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(242, 174, 48, 0.95);
    z-index: 1;
    @media only screen and (min-width: 1280px) {
      display: none;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer_wrapper {
  @media only screen and (min-width: 1280px) {
    display: flex;
    max-width: 1440px;
    margin: auto;
    padding: 61px 40px 61px 75px;
    position: relative;
  }

  @media only screen and (min-width: 1920px) {
    max-width: 1280px;
  }
}

.footer_links {
  @media only screen and (min-width: 1280px) {
    display: flex;
    margin-left: 100px;
    div:first-of-type {
      margin-right: 50px;
    }
  }
  @media only screen and (min-width: 1440px) {
    margin-left: 260px;
  }
  @media only screen and (min-width: 1920px) {
    margin-left: 250px;
  }
}

.footer_link {
  display: block;
}

.footer_item {
  margin-bottom: 8px;
  @media only screen and (min-width: 1280px) {
    margin-top: 10px;
    &:nth-of-type(2){
      margin: 0;
    }
  }
}

.footer_icon {
  width: 20px;
  height: 20px;
  margin-top: 75px;
  margin-bottom: 10px;
  display: block;
  @media only screen and (min-width: 1280px) {
    margin-top: 113px;
    margin-bottom: 0;
  }
}

.footer_work {
  margin-top: 50px;
  @media only screen and (min-width: 1280px) {
    margin-top: 113px;
  }
}

.privacy_link {
  font-size: 14px;
  line-height: 18px;
  margin-top: 117px;
  display: inline-block;
  @media only screen and (min-width: 1280px) {
    position: absolute;
    top: 250px;
    left: 75px;
    margin-top: 0;
  }
}
