@keyframes heartBeat {
  0% {
    transform: scale( 1 );
  }
  70% {
    transform: scale( 1 );
  }
  85% {
    transform: scale( 1.25 );
  }
  100% {
    transform: scale( 1 );
  }
}

@keyframes cardIntro {
  0% {
    padding: 0;
  }
  70% {
    padding: 0;
  }
  100% {
    padding: 87px 24px 48px;
  }
}

@keyframes cardIntroWide {
  0% {
    padding: 0;
  }
  70% {
    padding: 0;
  }
  100% {
    padding: 97px 48px 48px;
  }
}

@keyframes bordersIntro {
  0% {
    border-radius: 0;
  }
  70% {
    border-radius: 0;
  }
  100% {
    border-radius: 30px;
  }
}




.hero {
  height: 100vh;
  position: relative;
  animation: cardIntro 2s forwards;
  box-sizing: border-box;
  padding: 0;

  @media only screen and (min-width: 1280px) {
    animation: cardIntroWide 2s forwards;
  }

  .arrow {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 23px;
    animation: heartBeat 2s infinite;
  }
}

.hero_img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  animation: bordersIntro 2s forwards;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.65);
    animation: bordersIntro 2s forwards;
  }


  img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: bordersIntro 2s forwards;
  }

  h1 {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    position: absolute;
    bottom: 80px;
    width: 286px;
    @media only screen and (min-width: 768px) {
      bottom: 69px;
    }
    @media only screen and (min-width: 1280px) {
      font-size: 64px;
      line-height: 72px;
      bottom: auto;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 700px;
    }

    strong {
      font-family: 'OpenSauceSansRegular', serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #F2AE30;
      margin-top: 32px;
      @media only screen and (min-width: 1280px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

@keyframes cookieIntro {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.cookie {
  display: none;
  z-index: 999;
  position: fixed;
  top: 103px;
  left: 38px;
  background-color: #F2AE30;
  border-radius: 30px;
  padding: 32px 24px 24px 30px;
  box-sizing: border-box;
  width: 300px;
  min-height: 178px;
  opacity: 0;
  animation: cookieIntro .3s forwards 2s;

  @media only screen and (min-width: 1280px) {
    top: auto;
    left: 96px;
    bottom: 91px;
    padding: 32px 24px 24px 39px;
    width: 400px;
  }


  h4 {
    font-size: 24px;
    line-height: 32px;
    max-width: 390px;
    color: #fff;
    margin-bottom: 16px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }

  button {
    position: absolute;
    bottom: -21px;
    left: 30px;
    outline: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    @media only screen and (min-width: 1280px) {
      left: 40px;
    }
  }

  img {
    width: 73px;
    height: 73px;
    position: absolute;
    top: -30px;
    right: -24px;
    @media only screen and (min-width: 1280px) {
      top: -25px;
      right: 20px;
    }
  }
}


