html {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSauceSansRegular', serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  margin: 0;
  padding: 0;
}

main {
  overflow-x: hidden;
  overflow-y: scroll;
  @media only screen and (min-width: 1280px) {
    position: relative;
  }
}

h1,h2,h3,h4,p{
  margin: 0;
  font-weight: 400;
}

b, strong {
  font-family: 'OpenSauceSansSemiBold', serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.arrow {
  width: 40px;
  height: 48px;
}

.button_primary {
  background-color: #fff;
  padding: 12px 18px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  display: inline-block;
  transition: .2s ease;
  &:hover, &:active {
    background-color: #000;
    color: #F2AE30;
    text-decoration: none;
  }
}

@import './header.scss';
@import './hero.scss';
@import './family.scss';
@import './copy.scss';
@import './slider.scss';
@import './email.scss';
@import './testimonials.scss';
@import './aboutMe.scss';
@import './footer.scss';
@import './policy.scss';
