/*STYLEGUIDE*/
/*
headline 64/72

title 24/32

body  24/40

button 18/24


colors:

orange: #F2AE30

*/


body {
  font-family: 'OpenSauceSansRegular', Arial, serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  margin: 0;
}

main {
  overflow-x: hidden;
}

h1,h2,h3,h4,p{
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.arrow {
  width: 40px;
  height: 48px;
}

.copy_header {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
}

.copy_number {
  color: #F2AE30;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
}

.copy_paragraph {
  font-size: 18px;
  line-height: 36px;
}

.button_primary {
  background-color: #fff;
  padding: 12px 18px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  display: inline-block;
  transition: .2s ease;
  &:hover, &:active {
    background-color: #000;
    color: #F2AE30;
    text-decoration: none;
  }
}

@import './header.scss';
@import './hero.scss';
@import './family.scss';
@import './copy.scss';
@import './slider.scss';
@import './email.scss';
@import './testimonials.scss';
@import './aboutMe.scss';
@import './footer.scss';
