.testimonials {
  margin: 65px 24px 275px;
  color: #fff;
  @media only screen and (min-width: 768px) {
    margin-top: 96px;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 1440px;
    margin: 144px 48px 260px;
  }

  @media only screen and (min-width: 1440px) {
    margin-top: 94px;
    margin-bottom: 240px;
  }

  h4 {
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
    @media only screen and (min-width: 1280px) {
      font-size: 64px;
      line-height: 72px;
    }
  }

  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;

    @media only screen and (min-width: 1280px) {
      max-width: 255px;
    }
  }

  a {
    white-space: nowrap;
  }

  img {
    position: absolute;
    top: 249px;
    left: -45px;
    @media only screen and (min-width: 480px) {
      left: auto;
      right: -24px;
    }

    @media only screen and (min-width: 1280px) {
      left: auto;
      right: -421px;
      top: -160px;
    }

    @media only screen and (min-width: 1440px) {
      right: -328px;
    }
  }
}

.testimonials_bg {
  background-color: #3F8D94;
  padding: 55px 18% 160px;
  border-radius: 30px;
  position: relative;
  @media only screen and (min-width: 768px) {
    padding-bottom: 196px;
  }

  @media only screen and (min-width: 1280px) {
    padding: 97px 12% 99px;
  }
}
