.testimonials {
  margin: 65px 24px 275px;
  color: #fff;
  @media only screen and (min-width: 768px) {
    margin-top: 96px;
  }

  h4 {
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
  }

  a {
    white-space: nowrap;
  }

  img {
    position: absolute;
    top: 249px;
    left: -45px;
    @media only screen and (min-width: 480px) {
      left: auto;
      right: -24px;
    }
  }
}

.testimonials_bg {
  background-color: #3F8D94;
  padding: 55px 18% 160px;
  border-radius: 30px;
  position: relative;
  @media only screen and (min-width: 768px) {
    padding-bottom: 196px;
  }
}
